<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Courses</title>
    <!-- meta-tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //meta-tags -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- font-awesome -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- fonts -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
</head>

<body>
<!--引入header-->
<div th:insert="header::header"/>
<!-- banner -->
<div class="inner_page_agile">

</div>
<!--//banner -->
<!-- short-->
<div class="services-breadcrumb">
    <div class="inner_breadcrumb">
        <ul class="short_ls">
            <li>
                <a href="index.html">首页</a>
                <span>| |</span>
            </li>
            <li>课程</li>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
        </ul>
    </div>
</div>
<!-- //short-->
<!-- blog -->
<div class="blog-cource">
    <div class="container">
        <div class="title-div">
            <h3 class="tittle">
                <span>P</span>opular
                <span>C</span>ourses
            </h3>
            <div class="tittle-style">

            </div>
        </div>

        <!--        <div class="blog-info">-->
        <!--            <div class="col-xs-4 blog-grid-img">-->
        <!--                <img src="images/c2.jpg" class="img-responsive" alt=""/>-->
        <!--            </div>-->
        <!--            <div class="col-xs-8 blog-grid-text">-->
        <!--                <h4>Web Technology</h4>-->
        <!--                <h6>Rerum Delectus</h6>-->
        <!--                <p>Sed interdum interdum accumsan. Aenean nec purus ac orci finibus facilisis. In sit amet placerat-->
        <!--                    nisl, in auctor sapien.-->
        <!--                    Donec ultricies faucibus ante in mattis earum rerum delectus in auctor sapien. </p>-->
        <!--                <a class="button-style" href="join.html">Apply Now</a>-->
        <!--            </div>-->
        <!--            <div class="clearfix"></div>-->
        <!--        </div>-->
        <!--        <div class="blog-agileinfo blog-info-mdl">-->
        <!--            <div class="col-xs-8 blog-grid-text">-->
        <!--                <h4>Academic English</h4>-->
        <!--                <h6>Rerum Delectus</h6>-->
        <!--                <p>Sed interdum interdum accumsan. Aenean nec purus ac orci finibus facilisis. In sit amet placerat-->
        <!--                    nisl, in auctor sapien.-->
        <!--                    Donec ultricies faucibus ante in mattis earum rerum hic a sapiente delectus. </p>-->
        <!--                <a class="button-style" href="join.html">Apply Now</a>-->
        <!--            </div>-->
        <!--            <div class="col-xs-4 blog-grid-img blog-img-rght">-->
        <!--                <img src="images/c1.jpg" class="img-responsive" alt=""/>-->
        <!--            </div>-->
        <!--            <div class="clearfix"></div>-->
        <!--        </div>-->
        <!--        <div class="blog-info">-->
        <!--            <div class="col-xs-4 blog-grid-img">-->
        <!--                <img src="images/c3.jpg" class="img-responsive" alt=""/>-->
        <!--            </div>-->
        <!--            <div class="col-xs-8 blog-grid-text">-->
        <!--                <h4>HR Management</h4>-->
        <!--                <h6>Rerum Delectus</h6>-->
        <!--                <p>Sed interdum interdum accumsan. Aenean nec purus ac orci finibus facilisis. In sit amet placerat-->
        <!--                    nisl, in auctor sapien.-->
        <!--                    Donec ultricies faucibus ante rerum hic a sapiente delectus in auctor sapien. </p>-->
        <!--                <a class="button-style" href="join.html">Apply Now</a>-->
        <!--            </div>-->
        <!--            <div class="clearfix"></div>-->
        <!--        </div>-->
        <!--        <div class="blog-agileinfo blog-info-mdl">-->
        <!--            <div class="col-xs-8 blog-grid-text">-->
        <!--                <h4>Process Engineering</h4>-->
        <!--                <h6>Rerum Delectus</h6>-->
        <!--                <p>Sed interdum interdum accumsan. Aenean nec purus ac orci finibus facilisis. In sit amet placerat-->
        <!--                    nisl, in auctor sapien.-->
        <!--                    Donec ultricies faucibus ante in mattis earum rerum hic a sapiente delectus. </p>-->
        <!--                <a class="button-style" href="join.html">Apply Now</a>-->
        <!--            </div>-->
        <!--            <div class="col-xs-4 blog-grid-img blog-img-rght">-->
        <!--                <img src="images/c7.jpg" class="img-responsive" alt=""/>-->
        <!--            </div>-->
        <!--            <div class="clearfix"></div>-->
        <!--        </div>-->
        <th:block th:each="course:${courseList}">
            <div class="item">
                <div class="blog-agileinfo blog-info-mdl">
                    <div class="col-xs-8 blog-grid-text">
                        <h4 th:text="${course.courseName}"/>
                        <h6>Rerum Delectus</h6>
                        <p>Sed interdum interdum accumsan. Aenean nec purus ac orci finibus facilisis. In sit amet
                            placerat
                            nisl, in auctor sapien.
                            Donec ultricies faucibus ante in mattis earum rerum hic a sapiente delectus. </p>
                        <a class="button-style" href="join.html">Apply Now</a>
                    </div>
                    <div class="col-xs-4 blog-grid-img blog-img-rght">
                        <img src="images/c7.jpg" class="img-responsive" alt=""/>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>

        </th:block>
    </div>
</div>
<!-- //blog -->
<!--	引入footer-->
<div th:insert="footer::footer"/>

<!-- js files -->
<!-- js -->
<script src="js/jquery-2.1.4.min.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.js"></script>
<!-- stats numscroller-js-file -->
<script src="js/numscroller-1.0.js"></script>
<!-- //stats numscroller-js-file -->
<!-- smooth scrolling -->
<script src="js/SmoothScroll.min.js"></script>
<script src="js/move-top.js"></script>
<script src="js/easing.js"></script>
<!-- here stars scrolling icon -->
<script>
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- smooth scrolling -->
<!-- //js-files -->

</body>

</html>