<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Download</title>
    <!-- meta-tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //meta-tags -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- font-awesome -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- fonts -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<body>
<!--引入header-->
<div th:insert="header::header"/>
<!-- banner -->
<div class="inner_page_agile">

</div>
<!--//banner -->
<!-- short -->
<div class="services-breadcrumb">
    <div class="inner_breadcrumb">
        <ul class="breadcrumb "  style="background-color: #eeeeee;">
            <li>
                <a href="/index">首页</a>
            </li>
            <li><a href="/download">下载专区</a></li>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <!-- <li class="active">学院简介</li>
            <li class="active">学院领导</li>
            <li class="active">机构设置</li> -->
            <!-- <li><a href="#Leader"></a></li>
            <li><a href="#Mechanism"></a></li> -->
        </ul>

    </div>
</div>
<!--Download-Area-->
<br>
<div class="about-sec" id="about">
    <div class="container">
        <div class="title-div">
            <div style="text-align: center" class="container col-md-3" >
                <ul class=" title_duiqi nav nav-stacked nav-tabs ">
                    <li><a href="/download?type=奖助贷下载">奖助贷下载</a></li>
                    <li><a href="/download?type=培养下载">培养下载</a></li>
                    <li><a href="/download?type=常用下载">常用下载</a></li>
                    <li><a href="/download?type=其他下载">其他下载</a></li>
                </ul>
            </div>
            <div class="">
<!--                <div class="tab-pane fade in active" >-->
                    <div>
                        <h3 th:text="${type}"/>
                        <th:block th:each="file:${downloadFiles}">
                            <p>
                                <a th:text="${file.fileName}" href="/downloadFile/1"/>
                            </p>
                        </th:block>
                        <nav style="text-align: center">
                            <ul class="pagination">
                                <li>
                                    <a  th:href="@{${'/download'}(type=${type},pageNum=1,pageSize=${pageSize})}">首页</a>
                                </li>
                                <li>
                                    <a th:if="${not isFirstPage}" th:href="@{${'/download'}(type=${type},pageNum=${pageNum-1},pageSize=${pageSize})}">上一页</a>
                                    <a th:if="${isFirstPage}" href="javascript:void(0);">上一页</a>
                                </li>


                                <li th:each="pageNo : ${naviPageNums}">
                                    <a th:if="${pageNum eq pageNo}" href="javascript:void(0);">
                                        <span th:text="${pageNo}"></span>
                                    </a>


                                    <a th:if="${not (pageNum eq pageNo)}" th:href="@{${'/download'}(type=${type},pageNum=${pageNo},pageSize=${pageSize})}">
                                        <span th:text="${pageNo}"></span>
                                    </a>
                                </li>
                                <li>
                                    <a th:if="${not isLastPage}" th:href="@{${'/download'}(type=${type},pageNum=${pageNum+1},pageSize=${pageSize})}">下一页</a>
                                    <a th:if="${isLastPage}" href="javascript:void(0);">下一页</a>
                                </li>

                                <li>
                                    <a  th:href="@{${'/download'}(type=${type},pageNum=${totalPages},pageSize=${pageSize})}">尾页</a>
                                </li>
                            </ul><br>
                        </nav>
                    </div>

<!--                </div>-->

            </div>
        </div>

    </div>

</div>

<!-- //about -->
<!--	引入footer-->
<div th:insert="footer::footer"/>
<!-- js files -->
<!-- js -->
<script src="js/jquery-2.1.4.min.js"></script>
<!-- bootstrap -->
<!--<script src="js/bootstrap.js"></script>-->
<!-- stats numscroller-js-file -->
<script src="js/numscroller-1.0.js"></script>
<!-- //stats numscroller-js-file -->
<!-- smooth scrolling -->
<script src="js/SmoothScroll.min.js"></script>
<script src="js/move-top.js"></script>
<script src="js/easing.js"></script>
<!-- here stars scrolling icon -->
<script>
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- smooth scrolling -->
<!-- //js-files -->

</body>
</html>