<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <div class="mkl_footer">
        <div class="sub-footer">
            <div class="container">
                <a class="navbar-brand" href="http://www.cs.cqu.edu.cn/xbwz/sy.htm">
                    <h1 aria-hidden="true">
                        <img class="footer-img-info" src="images/bg.png" alt="" />
                    </h1>
                </a>
                <div class="mkls_footer_grid">
                    <div class="col-xs-4 mkls_footer_grid_left">
                        <h4>地址:</h4>
                        <p>重庆市沙坪坝区沙正街174号</p>
                    </div>
                    <div class="col-xs-4 mkls_footer_grid_left">
                        <h4>联系方式:</h4>
                        <p>
                            电话 : 023-65111210</p>
                        <!--
                        <p>
                            <span>邮箱 : </span>
                            <a href="mailto:info@example.com">mail@example.com</a>
                        </p>
                        -->
                    </div>
                    <div class="mkls_footer_grid_left">
                        <h5 class=" col-xs-4"><i class="fa fa-tag"></i>友情链接：</h5>
                        <li><a href="http://www.cs.cqu.edu.cn/">
                            计算机学院
                        </a></li>
                        <li><a href="http://i.cqu.edu.cn/new/index.html">
                            服务大厅
                        </a></li>
                        <li><a href="http://jwc.cqu.edu.cn/">
                            重庆大学教务处
                        </a></li>

                        <li><a href="http://graduate.cqu.edu.cn/">
                            重庆大学研究生院
                        </a></li>
                        <li><a href="http://lib.cqu.edu.cn/">
                            图书馆
                        </a></li>
                        <li><a href="http://www.cqu.edu.cn/">
                            重庆大学
                        </a></li>

                    </div>
                    <!--
                    <div class="col-xs-4 mkls_footer_grid_left">
                        <h4>Opening Hours:</h4>
                        <p>Working days : 8am-10pm</p>
                        <p>Sunday
                            <span>(closed)</span>
                        </p>
                    </div>
                    -->
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
        <div class="footer-copy-right">
            <div class="container">
                <center><div class="allah-copy"></center>
                <p>Copyright © 2019 重庆大学计算机学院 All Rights Reserved.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</div>
</html>