<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>新闻动态</title>
	<!-- meta-tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //meta-tags -->
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome -->
	<link href="css/font-awesome.css" rel="stylesheet">
	<!-- fonts -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	    rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
<!--引入header-->
<div th:insert="header::header"/>
	<!-- banner -->
	<div class="inner_page_agile">

	</div>
	<!--//banner -->
	<!-- short-->
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">
			<ul class="short_ls">
				<li>
					<a href="index.html">首页</a>
					<span>| |</span>
				</li>
				<li>新闻动态</li>
				<form class="navbar-form navbar-right">
				    <div class="form-group">
				      <input type="text" class="form-control" placeholder="Search">
				    </div>
				    <button type="submit" class="btn btn-default">搜索</button>
				</form>
			</ul>
		</div>
	</div>
	<!-- //short-->
	<!-- Gallery -->
	<div class="gallery">
		<div class="container">
			<div class="title-div">
				<h3 class="tittle">
					<span>新</span>闻 <span>动</span>态
				</h3>
				<div class="tittle-style">
				<ul class="nav nav-pills nav-stacked col-xs-4 ">
				  <li role="presentation" class="active gallery-nav"><a href="#"><strong>学术讲座</strong></a></li>
				  <li role="presentation"><a href="#"><strong>通知公告</strong></a></li>
				  <li role="presentation"><a href="#"><strong>学院新闻</strong></a></li>
				</ul>
				</div>
			</div>
			<div class="col-xs-8 agileinfo-gallery-row">
				<div class="col-xs-3 w3gallery-grids">
					<a href="images/g7.jpg" class="imghvr-hinge-right figure">
						<img src="images/g7.jpg" alt="" title="Our Library" />
						<div class="agile-figcaption">
							<h4>Library</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-3 w3gallery-grids">
					<a href="images/g9.jpg" class="imghvr-hinge-right figure">
						<img src="images/g9.jpg" alt="" title="Volleyball Sports" />
						<div class="agile-figcaption">
							<h4>Volleyball</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-3 w3gallery-grids">
					<a href="images/g3.jpg" class="imghvr-hinge-right figure">
						<img src="images/g3.jpg" alt="" title="Our Computer Lab" />
						<div class="agile-figcaption">
							<h4>Computer Lab</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-3 w3gallery-grids">
					<a href="images/g4.jpg" class="imghvr-hinge-right figure">
						<img src="images/g4.jpg" alt="" title="Meditation" />
						<div class="agile-figcaption">
							<h4>Meditation</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-3 w3gallery-grids">
					<a href="images/g1.jpg" class="imghvr-hinge-right figure">
						<img src="images/g1.jpg" alt="" title="Science" />
						<div class="agile-figcaption">
							<h4>Science</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-3 w3gallery-grids">
					<a href="images/g6.jpg" class="imghvr-hinge-right figure">
						<img src="images/g6.jpg" alt="" title="Group Discussion" />
						<div class="agile-figcaption">
							<h4>Group Discussion</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-3 w3gallery-grids">
					<a href="images/g2.jpg" class="imghvr-hinge-right figure">
						<img src="images/g2.jpg" alt="" title="Chemical Lab" />
						<div class="agile-figcaption">
							<h4>Chemical Lab</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-3 w3gallery-grids">
					<a href="images/g5.jpg" class="imghvr-hinge-right figure">
						<img src="images/g5.jpg" alt="" title="Our Sports" />
						<div class="agile-figcaption">
							<h4>Sports</h4>
						</div>
					</a>
				</div>
				<div class="col-xs-3 w3gallery-grids">
					<a href="images/g8.jpg" class="imghvr-hinge-right figure">
						<img src="images/g8.jpg" alt="" title="Our Excellent Seminar" />
						<div class="agile-figcaption">
							<h4>Seminar</h4>
						</div>
					</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //Gallery -->
<!--	引入footer-->
<div th:insert="footer::footer"/>

	<!-- js files -->
	<!-- js -->
	<script src="js/jquery-2.1.4.min.js"></script>
	<!-- bootstrap -->
	<script src="js/bootstrap.js"></script>
	<!-- simple-lightbox -->
	<script type="text/javascript" src="js/simple-lightbox.js"></script>	
	<script>
		$(function () {
			var gallery = $('.agileinfo-gallery-row a').simpleLightbox({
				navText: ['&lsaquo;', '&rsaquo;']
			});
		});
	</script>
	<link href='css/simplelightbox.min.css' rel='stylesheet' type='text/css'>
	<!-- Light-box css -->
	<!-- smooth scrolling -->
	<script src="js/SmoothScroll.min.js"></script>
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smooth scrolling -->
	<!-- //js-files -->

</body>

</html>