<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- header -->
<div th:fragment="header">
    <div class="header-top">
        <div class="container">
            <div class="bottom_header_left">
                <p>
                    <span class="fa fa-map-marker" aria-hidden="true"></span>中国, 重庆
                </p>
            </div>
            <div class="bottom_header_right">
                <div class="header-top-righ">

                    <th:block th:unless="${session.User==null}">
                        <!--                        可以设置为个人中心的入口-->
                        <a th:text="${session.User.getUserName()}"></a>
                        <a href="/logout">
                            <span class="fa fa-sign-out" aria-hidden="true"></span>注销</a>
                    </th:block>
                    <th:block th:if="${session.User==null}">
                        <a href="/user/login">
                            <span class="fa fa-sign-out" aria-hidden="true"></span>登录</a>
                    </th:block>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header header-top">
        <div class="content white">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1">

                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/index">
                            <h1 aria-hidden="true">
                                <img class="header-img-info" style="border: none;margin-left: 40px;" src="images/e1.png" alt=""/>
                            </h1>
                        </a>
                    </div>

                </div>
                <!--/.navbar-header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >

                        <ul class="nav nav-justified " style="margin-top: 20px; background-color: #d4e9ef" role="navigation" >
                            <li class="active">
                                <a href="/index" >主页</a>
                            </li>
                            <li>
                                <a href="/about" >学院概况</a>
                            </li>
                            <li>
                                <a href="/gallery" >通知公告</a>
                            </li>

                            <li>
                                <a href="#" class="effect-3 dropdown-toggle" data-toggle="dropdown">信息查询
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="/mymessage">我的信息</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="/salary">酬金查询</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="/scholarship">奖助贷查询</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">教育教学
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="/coursemessage">课程安排</a>
                                    </li>
                                    <li>
                                        <a href="codes.html">考试安排</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="/download" class="effect-3">下载专区</a>
                            </li>
                            <li>
                                <a href="/contact" class="effect-3">联系我们</a>
                            </li>
                        </ul>

                </div>
                <!--/.navbar-collapse-->
                <!--/.navbar-->
            </nav>
        </div>
    </div>
</div>
</html>