<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>首页</title>
    <!-- meta-tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //meta-tags -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- font-awesome -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- fonts -->

    <link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
</head>

<body>
<!--引入header-->
<div th:insert="header::header"/>
<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h6>Welcome To</h6>
                    <h3>ChongQing
                        <span>University</span>
                    </h3>
                    <p>IT Academy.</p>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="container">
                <div class="carousel-caption">
                    <h6>Welcome To</h6>
                    <h3>ChongQing
                        <span>University</span>
                    </h3>
                    <p>IT Academy.</p>
                </div>
            </div>
        </div>
        <div class="item item3">
            <div class="container">
                <div class="carousel-caption">
                    <h6>Welcome To</h6>
                    <h3>ChongQing
                        <span>University</span>
                    </h3>
                    <p>IT Academy.</p>
                </div>
            </div>
        </div>
        <div class="item item4">
            <div class="container">
                <div class="carousel-caption">
                    <h6>Welcome To</h6>
                    <h3>ChongQing
                        <span>University</span>
                    </h3>
                    <p>IT Academy.</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!-- The Modal -->
</div>
<!--//banner -->
<!-- message -->
<div class="" id="about">
    <div class="container">
        <div class="title-div">
        </div>
        <div class="welcome-sub-wthree well">

            <div class="col-md-7 banner_bottom_left">
                <div class = "page-header">
                    <h4 class=" glyphicon glyphicon-volume-up">
                    通知<span>公告</span>
                </h4>
                </div>
                <ur class = "row fa-lg" style="list-style-type:none">
                    <th:block th:each="announcement:${announcementList}">
                        <div class="item page-header">
                            <li >
                                <a class = "glyphicon glyphicon-record text-info" style="color: rgb(58, 116, 136);" th:href="${announcement.announcementContent}"
                                       th:text="${announcement.announcementTitle}"/> &nbsp;
                                <span >&nbsp;
										<div class="glyphicon glyphicon-time pull-right" th:text="${#dates.format(announcement.announcementReleaseDate,'yyyy-MM-dd')}"/>
                                </span>
                            </li>

                        </div>


                    </th:block>

                    <!--						<li>-->
                    <!--							【置顶】<a href="http://www.cs.cqu.edu.cn/info/1268/4507.htm">重庆大学计算机学院诚邀海内外英才加盟.</a> &nbsp;-->
                    <!--							<span class="glyphicon glyphicon-time">&nbsp;2019-10-29</span>-->
                    <!--						</li>-->
                    <!--						<br>-->
                    <!--						<li>-->
                    <!--							【置顶】<a href="http://www.cs.cqu.edu.cn/info/1268/4507.htm">重庆大学计算机学院诚邀海内外英才加盟.</a> &nbsp;-->
                    <!--							<span class="glyphicon glyphicon-time">&nbsp;2019-10-29</span>-->
                    <!--						</li>-->
                    <!--						<li>-->
                    <!--							【置顶】<a href="http://www.cs.cqu.edu.cn/info/1268/4507.htm">重庆大学计算机学院诚邀海内外英才加盟.</a> &nbsp;-->
                    <!--							<span class="glyphicon glyphicon-time">&nbsp;2019-10-29</span>-->
                    <!--						</li>-->
                    <!--						<li>-->
                    <!--							【置顶】<a href="http://www.cs.cqu.edu.cn/info/1268/4507.htm">重庆大学计算机学院诚邀海内外英才加盟.</a> &nbsp;-->
                    <!--							<span class="glyphicon glyphicon-time">&nbsp;2019-10-29</span>-->
                    <!--						</li>-->
                </ur>
                <div class="pull-right" ><a href="/gallery">更多>></a></div>
            </div>
            <!-- Stats-->
            <div class="col-md-5 stats-info-agile">
                <div class="col-xs-6 stats-grid stat-border">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='768'
                         data-delay='.5' data-increment="1">768
                    </div>
                    <p>研究方向</p>
                </div>
                <div class="col-xs-6 stats-grid">
                    <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='678'
                         data-delay='.5' data-increment="1">678
                    </div>
                    <p>研究课题</p>
                </div>
                <div class="clearfix"></div>
                <div class="child-stat">
                    <div class="col-xs-6 stats-grid stat-border border-st2">
                        <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='800'
                             data-delay='.5' data-increment="1">800
                        </div>
                        <p>教师</p>
                    </div>
                    <div class="col-xs-6 stats-grid">
                        <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='485'
                             data-delay='.5' data-increment="1">485
                        </div>
                        <p>学生</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //Stats -->
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //message -->
<!-- news -->
<div class="services">
    <div class="container">
        <div class="title-div">
            <h3 class="tittle">
                <span>学</span>院
                <span>新</span>闻
            </h3>
            <div class="tittle-style">

            </div>
        </div>
        <div class="services-moksrow">
            <div class="col-xs-4 services-grids-w3l" >

                <div class="servi-shadow" style="height: 280px;">

                        <img  style="max-width: 200px; max-height: 200px;" src="images/c3.jpg" alt="" />
                    <p>新闻title</p>
                </div>
            </div>
            <div class="col-xs-4 services-grids-w3l" >

                <div class="servi-shadow" style="height: 280px;">

                    <img  style="max-width: 200px; max-height: 200px;" src="images/c3.jpg" alt="" />
                    <p>新闻title</p>
                </div>
            </div>
            <div class="col-xs-4 services-grids-w3l" >

                <div class="servi-shadow" style="height: 280px;">

                    <img  style="max-width: 200px; max-height: 200px;" src="images/c3.jpg" alt="" />
                    <p>新闻title</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="services-moksrow">
            <div class="col-xs-4 services-grids-w3l" >

                <div class="servi-shadow" style="height: 280px;">

                    <img  style="max-width: 200px; max-height: 200px;" src="images/c3.jpg" alt="" />
                    <p>新闻title</p>
                </div>
            </div>
            <div class="col-xs-4 services-grids-w3l" >

                <div class="servi-shadow" style="height: 280px;">

                    <img  style="max-width: 200px; max-height: 200px;" src="images/c3.jpg" alt="" />
                    <p>新闻title</p>
                </div>
            </div>
            <div class="col-xs-4 services-grids-w3l" >

                <div class="servi-shadow" style="height: 280px;">

                    <img  style="max-width: 200px; max-height: 200px;" src="images/c3.jpg" alt="" />
                    <p>新闻title</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //news -->
<!-- academic conference -->
<div class="news" id="news">
    <div class="container">
        <div class="title-div">
            <h3 class="tittle">
                <span>学</span>术
                <span> 讲</span>座
            </h3>
            <div class="tittle-style">

            </div>
        </div>
        <div class="yaallahaa-news-grids-agile">
            <div class="yaallahaa-news-grid">
                <div class="col-md-6 yaallahaa-news-left">
                    <div class="col-xs-6 news-left-img">
                        <div class="news-left-text color-event1">
                            <h5>year-month-day</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 news-grid-info-bottom-w3ls">
                        <div class="news-left-top-text text-color1">
                            <a href="#" data-toggle="modal" data-target="#myModal">Integer viverra eleifend neque</a>
                        </div>
                        <div class="date-grid">
                            <div class="admin">
                                <a href="#">
                                    <span class="fa fa-clock-o" aria-hidden="true"></span> 7:00 pm - 9:00 pm</a>
                            </div>
                            <div class="time">
                                <p>
                                    <span class="fa fa-map-marker" aria-hidden="true"></span> 重庆大学, 民主湖报告厅</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="news-grid-info-bottom-w3ls-text">
                            <p>XXX教授关于XXX的讲座.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 yaallahaa-news-left">
                    <div class="col-xs-6 news-left-img news-left-img1">
                        <div class="news-left-text color-event2">
                            <h5>27 Dec</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 news-grid-info-bottom-w3ls">
                        <div class="news-left-top-text text-color2">
                            <a href="#" data-toggle="modal" data-target="#myModal">Integer viverra eleifend neque</a>
                        </div>
                        <div class="date-grid">
                            <div class="admin">
                                <a href="#">
                                    <span class="fa fa-clock-o" aria-hidden="true"></span> 6:00 am - 8:00 am</a>
                            </div>
                            <div class="time">
                                <p>
                                    <span class="fa fa-map-marker" aria-hidden="true"></span> Newyork City, 1452</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="news-grid-info-bottom-w3ls-text">
                            <p>Aliquam erat volutpat. Duis vulputate tempus laoreet.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="yaallahaa-news-grid">
                <div class="col-md-6 yaallahaa-news-left">
                    <div class="col-xs-6 news-left-img news-left-img2">
                        <div class="news-left-text color-event3">
                            <h5>28 Dec</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 news-grid-info-bottom-w3ls">
                        <div class="news-left-top-text text-color3">
                            <a href="#" data-toggle="modal" data-target="#myModal">Integer viverra eleifend neque</a>
                        </div>
                        <div class="date-grid">
                            <div class="admin">
                                <a href="#">
                                    <span class="fa fa-clock-o" aria-hidden="true"></span> 10:00 am - 1:00 pm</a>
                            </div>
                            <div class="time">
                                <p>
                                    <span class="fa fa-map-marker" aria-hidden="true"></span> Newyork City, 7458</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="news-grid-info-bottom-w3ls-text">
                            <p>Aliquam erat volutpat. Duis vulputate tempus laoreet.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 yaallahaa-news-left">
                    <div class="col-xs-6 news-left-img news-left-img3">
                        <div class="news-left-text color-event4">
                            <h5>30 Dec</h5>
                        </div>
                    </div>
                    <div class="col-xs-6 news-grid-info-bottom-w3ls">
                        <div class="news-left-top-text text-color4">
                            <a href="#" data-toggle="modal" data-target="#myModal">Integer viverra eleifend neque</a>
                        </div>
                        <div class="date-grid">
                            <div class="admin">
                                <a href="#">
                                    <span class="fa fa-clock-o" aria-hidden="true"></span> 7:00 pm - 9:00 pm</a>
                            </div>
                            <div class="time">
                                <p>
                                    <span class="fa fa-map-marker" aria-hidden="true"></span> Newyork City, 786.</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="news-grid-info-bottom-w3ls-text">
                            <p>Aliquam erat volutpat. Duis vulputate tempus laoreet.</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- modal -->
<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Best
                    <span>Study</span>
                </h4>
            </div>

        </div>
    </div>
</div>
<!-- //modal -->
<!-- //academic conference -->

<!-- testimonials -->
<div class="testimonials">
</div>
<!-- //testimonials -->
<!--	引入footer-->
<div th:insert="footer::footer"/>

<!-- js files -->
<!-- js -->
<script src="js/jquery-2.1.4.min.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.js"></script>
<!-- stats numscroller-js-file -->
<script src="js/numscroller-1.0.js"></script>
<!-- //stats numscroller-js-file -->

<!-- Flexslider-js for-testimonials -->
<script>
    $(window).load(function () {
        $("#flexiselDemo1").flexisel({
            visibleItems: 1,
            animationSpeed: 1000,
            autoPlay: false,
            autoPlaySpeed: 3000,
            pauseOnHover: true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
                portrait: {
                    changePoint: 480,
                    visibleItems: 1
                },
                landscape: {
                    changePoint: 640,
                    visibleItems: 1
                },
                tablet: {
                    changePoint: 768,
                    visibleItems: 1
                }
            }
        });

    });
</script>
<script src="js/jquery.flexisel.js"></script>
<!-- //Flexslider-js for-testimonials -->
<!-- smooth scrolling -->
<script src="js/SmoothScroll.min.js"></script>
<script src="js/move-top.js"></script>
<script src="js/easing.js"></script>
<!-- here stars scrolling icon -->
<script>
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- smooth scrolling -->
<!-- //js-files -->

</body>

</html>