<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
    <!-- meta-tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script>
        function login() {
            //可以设置前台验证账号

            //验证
            var params = $("#loginForm").serialize();
            var url = '/user/login';
            $.ajax({
                type: 'POST',//方法类型
                url: url,
                data: params,
                success: function (result) {
                    if (result.resultCode == 200) {
                        window.location.href = '/index';
                    } else {
                       alert(result.message)
                    }
                },
                error: function () {
                    alert("操作失败")
                }
            });
        }

        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //meta-tags -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- font-awesome -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- fonts -->
    <link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
</head>

<body>
<!--引入header-->
<div th:insert="header::header"/>
<!-- banner -->
<div class="inner_page_agile">

</div>
<!--//banner -->
<!-- short-->
<div class="services-breadcrumb">
    <div class="inner_breadcrumb">
        <ul class="breadcrumb" style="background-color: #eeeeee;">
            <li>
                <a href="/index">首页</a>
                <!--                <span></span>-->
            </li>
            <li ><a href="/user/login">登录</a></li>
        </ul>
    </div>
</div>
<!-- //short-->
<div class="register-form-main">
    <div class="container">
        <div class="title-div">
            <h3 class="tittle">
                <span>登</span>
                <span></span>录
            </h3>
            <div class="tittle-style">

            </div>
        </div>
        <div class="login-form">
            <form id="loginForm" action="##" onsubmit="return false;" method="post">
                <div class="">
                    <p>登录名 </p>
                    <input type="text" class="name" name="userId" required=""/>
                </div>
                <div class="">
                    <p>密码</p>
                    <input type="password" class="password" name="password" required=""/>
                </div>
                <div>
                    <select name="loginType" style="width:585px;">
                        <option value="教师">教师</option>
                        <option value="学生">学生</option>
                        <option value="工作人员">工作人员</option>
                    </select>
                </div>
                <label class="anim">
                    <input type="checkbox" name="rememberMe" class="checkbox">
                    <span> 是否记住密码 ?</span>
                </label>
                <div class="login-agileits-bottom wthree">
                    <h6>
                        <a href="#">忘记密码?</a>
                    </h6>
                </div>
                <input type="submit" onclick="login()" value="登录">
                <div class="register-forming">
                    <p>注册账户 --
                        <a href="register.html">注册</a>
                    </p>
                </div>
            </form>
        </div>

    </div>
</div>

<!--	引入footer-->
<div th:insert="footer::footer"/>

<!-- js files -->
<!-- js -->
<script src="js/jquery-2.1.4.min.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.js"></script>
<!-- smooth scrolling -->
<script src="js/SmoothScroll.min.js"></script>
<script src="js/move-top.js"></script>
<script src="js/easing.js"></script>
<!-- here stars scrolling icon -->
<script>
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- smooth scrolling -->
<!-- //js-files -->

</body>

</html>