<!DOCTYPE html>
<html lang="en" ng-app="app" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>酬金管理</title>
	<!-- meta-tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //meta-tags -->
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

	<!-- font-awesome -->

	<link href="css/font-awesome.css" rel="stylesheet">

	<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">

	<!-- fonts -->
	<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	    rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<style>
		p.show{
			 color: rgb(169, 68, 66)
		 }
	</style>
</head>

<body >
<!--引入header-->
<div th:insert="header::header"/>
	<!-- banner -->
	<div class="inner_page_agile">

	</div>
	<!--//banner -->
	<!-- short -->
	<div class="services-breadcrumb">
		<div class="inner_breadcrumb">
			<ul class="breadcrumb "style="background-color: #eeeeee;">
				<li>
					<a href="/index">首页</a>
				</li>
				<li><a href="/mymessage">信息查询</a></li>
				<li><a href="/salary">酬金查询</a></li>
				<form class="navbar-form navbar-right">
			        <div class="form-group">
			          <input type="text" class="form-control" placeholder="Search">
			        </div>
			        <button type="submit" class="btn btn-default">搜索</button>
				</form>
				<!-- <li class="active">学院简介</li>
				<li class="active">学院领导</li>
				<li class="active">机构设置</li> -->
				<!-- <li><a href="#Leader"></a></li>
				<li><a href="#Mechanism"></a></li> -->
			</ul>
			
		</div>
	</div>
	<!-- //short-->
	<!-- salary -->
	<div class="about-sec" id="about">
		<div class="container" ng-controller="datetimeCtrl">
			<div class="title-div">
				<!-- <h3 class="tittle">
					<span>学</span>院
					<span>概</span>况
				</h3>
				<div class="tittle-style"> -->
				<div id="myTabContent" class="tab-content">
				   <div class="tab-pane fade in active" id="Introduction">
				      <!-- Achievements -->
				      <div class="aitsresumethree">
						  <div class="title-div">
							  <h3 class="tittle" style="margin-top: 16px;">
								  <span>我</span>的
								  <span>酬</span>金
							  </h3>
							  <div class="tittle-style">

							  </div>
						  </div>
						  <div class="container" style="text-align: center">
							  <h2 >欢迎 XXX ！</h2>
							  <br>

								  <p class="text-primary">您的本月酬金为： xx元 。</p>

							  <br>
							  <br>
							  <blockquote>
							  <div class="container">
								  <div class="row col-md-12">
									  <form class="form-horizontal">
										  <!-- 最小日期 -->
										  <div class="form-group col-md-5" id="datetimepicker1">
											  <label  class="col-sm-1 control-label">从</label>
											  <div class="col-sm-11">
												  <input type="text"  ng-model="data.minDate" class="form-control" my-datetime cur="data.minDate" dateformat="data.dateFormat" max="data.maxDate"  flag="data.minshow" text="data.minText" timetype="data.type1">
												  <p ng-show="data.minshow" ng-bind="data.minText" class="show"></p>
											  </div>
										  </div>
										  <!-- 最大日期 -->
										  <div class="form-group col-md-5">
											  <label  class="col-sm-1 control-label">到</label>
											  <div class="col-sm-11">
												  <input type="text" class="form-control" ng-model="data.maxDate" my-datetime cur="data.maxDate" dateformat="data.dateFormat" min="data.minDate" flag="data.maxshow" text="data.maxText" timetype="data.type1">
												  <p ng-show="data.maxshow" ng-bind="data.maxText" class="show"></p>
											  </div>
										  </div>
										  <button type="button" class="btn btn-primary col-md-2" data-toggle="collapse"
												  data-target="#demo">
											  查询明细

										  </button>
									  </form>
								  </div>

							  </div>
							  </blockquote>

							  <br>
							  <div id="demo" class="collapse">
								  <table class="table table-bordered">
									  <thead>
									  <tr>
										  <th>摘要</th>
										  <th>项目代码</th>
										  <th>发放类型</th>
										  <th>发放金额</th>
										  <th>扣税金额</th>
										  <th>实发金额</th>
										  <th>发放时间</th>
										  <th>经办人</th>
										  <th>发放部门</th>
									  </tr>
									  </thead>
									  <tbody>
									  <tr>
										  <td>Sachin</td>
										  <td>Mumbai</td>
										  <td>400003</td>
										  <td>Mumbai</td>
										  <td>Mumbai</td>
										  <td>Mumbai</td>
										  <td>Mumbai</td>
										  <td>Mumbai</td>
										  <td>Mumbai</td>
									  </tr>
									  <tr>
										  <td>Uma</td>
										  <td>Pune</td>
										  <td>411027</td>
										  <td>Uma</td>
										  <td>Pune</td>
										  <td>411027</td>
										  <td>Uma</td>
										  <td>Pune</td>
										  <td>411027</td>

									  </tr>
									  </tbody>
								  </table>
<!--								  <a href="#" class="text-center list-group-item disabled">-->
<!--									  酬金明细-->
<!--								  </a>-->
<!--								  <a href="#" class="list-group-item">参加学术会议：<p>100 RMB.</p></a>-->
<!--								  <a href="#" class="list-group-item">Morbi leo risus</a>-->
<!--								  <a href="#" class="list-group-item">Porta ac consectetur ac</a>-->
<!--								  <a href="#" class="list-group-item">Vestibulum at eros</a>-->
							  </div>
				      </div>
				      <!-- //Achievements -->
				   </div>
				</div>
			</div>
			<!-- <div class="about-sub">
				<div class="col-md-6 about_bottom_left">
					<h4>Welcome to
						<span>Best Study</span>
					</h4>
					<p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit, Nulla viverra pharetra sem eget.</p>
					<p>Pellentesque convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
						pulvinar neque pharetra ac.Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla
						viverra pharetra sem.</p>
					<a class="button-style" href="join.html">Join Now</a>
				</div>
				<!-- Stats-->
				<!-- <div class="col-md-6 about2-info">
					<img src="images/graduate.png" alt="" />
				</div>
				<!-- //Stats -->
				<!-- <div class="clearfix"> </div> --> 
			<!-- </div> --> 
			
		</div>
	</div>
	<!-- //salary -->

<!--	引入footer-->
<div th:insert="footer::footer"/>

	<!-- js files -->
	<!-- js -->

	<script src="js/jquery.js"></script>
	<script src="js/datetimepicker.js"></script>
	<script src="js/moment-with-locales.min.js"></script>
	<script src="js/angular.js"></script>
	<script src="app/app.js"></script>
	<script src="js/jquery-2.1.4.min.js"></script>
	<!-- bootstrap -->
<!--	<script src="js/bootstrap.js"></script>-->
	<!-- stats numscroller-js-file -->
	<script src="js/numscroller-1.0.js"></script>
	<!-- //stats numscroller-js-file -->
	<!-- smooth scrolling -->
	<script src="js/SmoothScroll.min.js"></script>
	<script src="js/move-top.js"></script>
	<script src="js/easing.js"></script>
	<!-- here stars scrolling icon -->
	<script>
		$('#datetimepicker1').datetimepicker({
			locale : moment().locale('zh-cn')
		});
	</script>
	<script>
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smooth scrolling -->
	<!-- //js-files -->

</body>

</html>