<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.AcademicReportMapper">
<select id="selectAcademicReportList" resultType="com.example.demo.entity.AcademicReport">
        select * from academic_report
    </select>
    <insert id="insertAcademic" parameterType="com.example.demo.entity.AcademicReport"
            useGeneratedKeys="true" keyProperty="academicdtId" keyColumn="academicdtId">
        insert into academic_report(academicdt_id,academicdt_title,academicdt_professor,report_addr)
            values (#{managerAccount},#{announcementTitle},#{announcementContent})
</insert>
</mapper>