<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ManagerMapper">
    <select id="getPasswordByName" resultType="java.lang.String">
    SELECT mameger_password from manager where manager_account=#{id}
</select>
    <update id="updatePassword">
        update manager set mameger_password=#{updatePasswordVo.newPassword}
        where manager_account=#{updatePasswordVo.studentId} and mameger_password=#{updatePasswordVo.oldPassword}
    </update>
</mapper>