<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ScholarshipMapper">
    <select id="selectFileListByType" resultType="com.example.demo.entity.Scholarship">
        select * from scholarship
        where scholarship_type=#{fileType}
    </select>
    <select id="selectScholarshipList" resultType="com.example.demo.vo.ScholarshipDetailVo">
        SELECT
            student_name,
            student_id,
            total_score,
            aver_grade,
            academic_achievements,
            social_practice_times,
            manager_account
        FROM
            scholarship_detail s
        LEFT JOIN student st ON s.tudent_id=st.student_id
        where s.student=#{id}

    </select>
</mapper>